@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
    Layout = "/Views/Shared/NewLayout.cshtml";
}

<body class="pageBG">
    <h1>@ViewData["Title"]</h1>
    @{

        <p>
            Please check your email to confirm your account.
        </p>

    }
</body>

