@{
    Layout = null;
}

<!doctype html>
<html class="landing simple-sticky-header-enabled">
<head>

    <!-- Basic -->
    <meta charset="UTF-8">

    <title>Landing | Porto Admin - Responsive HTML5 Template</title>
    <meta name="keywords" content="HTML5 Admin Template" />
    <meta name="description" content="Porto Admin - Responsive HTML5 Template">
    <meta name="author" content="okler.net">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800%7COpen+Sans:400,700,800" rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="~/Template/vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/Template/vendor/animate/animate.compat.css">
    <link rel="stylesheet" href="~/Template/vendor/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/Template/vendor/boxicons/css/boxicons.min.css" />
    <link rel="stylesheet" href="~/Template/vendor/magnific-popup/magnific-popup.css" />
    <link rel="stylesheet" href="~/Template/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css" />
    <link rel="stylesheet" href="~/Template/vendor/owl.carousel/assets/owl.carousel.css" />
    <link rel="stylesheet" href="~/Template/vendor/owl.carousel/assets/owl.theme.default.css" />

    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/Template/css/theme.css" />

    <!-- Landing Page CSS -->
    <link rel="stylesheet" href="~/Template/css/landing.css" />

    <!-- Skin CSS -->
    <link rel="stylesheet" href="~/Template/css/skins/default.css" />

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="~/Template/css/custom.css">

    <!-- Head Libs -->
    <script src="~/Template/vendor/modernizr/modernizr.js"></script>

</head>

<body class="alternative-font-4 loading-overlay-showing" data-plugin-page-transition data-loading-overlay data-plugin-options="{'hideDelay': 100}">
    
    <div class="loading-overlay">
        <div class="bounce-loader">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    <div class="body">
        <div role="main" class="main">
            <section class="section section-concept section-no-border section-dark section-angled section-angled-reverse border-top-0 pt-5 m-0 pageBG" id="section-concept" style="background-size: cover; background-position: center; animation-duration: 750ms; animation-delay: 300ms; animation-fill-mode: forwards;" data-plugin-lazyload data-plugin-options="{'threshold': 500}" data-original="~/img/SwampBG.jpg">
                <div class="section-angled-layer-bottom bg-light" style="padding: 8rem 0;"></div>
                <div class="container pt-5 mt-lg-5">
                    <div class="row align-items-center pt-3">
                        <div class="col-lg-5 mb-5">
                            <h1 class="font-weight-bold text-center text-color-light text-13 line-height-2 mt-0 mb-3 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400" data-appear-animation-duration="750">DragonFly </h1>
                            <h1 class="font-weight-bold text-center text-color-light mt-0 mb-3 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400" data-appear-animation-duration="750">Bug Tracker</h1>
                            <p class="custom-font-size-1 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900" data-appear-animation-duration="750"> A role based security system was implemented to create permission based roles. The roles of Admin , Project Manager, Developer and Submitter restrict what the user can see and do. The software allows for users to submit tickets and those tickets are tracked through status from Open to Complete.</p>

                            <div id="popup-content-1" class="dialog dialog-lg zoom-anim-dialog rounded p-3 mfp-hide mfp-close-out">
                                <div class="embed-responsive embed-responsive-4by3">
                                    <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-gradient btn-modern btn-rounded text-3 ms-4 d-none d-sm-block">TRY DRAGONFLY NOW!</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 offset-lg-1 mb-5 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="1200" data-appear-animation-duration="750">
                            <div class="">
                                <div class="float-left shadow-lg border-light" autoplay muted loop>
                                    <img src="~/img/DragonFlyREAL.png" class="" width="500" height="500">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 col-lg-6 col-xl-5 custom-header-bar py-4 pe-5 appear-animation p-relative z-index-2" data-appear-animation="maskRight" data-appear-animation-delay="1200" data-appear-animation-duration="750">
                            <div class="appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="1500">
                                <div class="star-rating-wrap d-flex align-items-center justify-content-center position-relative text-color-dark text-5 py-2 mb-2">
                                    <h4 class="fw-bolder text-color-light">Demo the full app!</h4>
                                </div>
                                <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-gradient btn-modern btn-rounded text-3 ms-4 d-none d-sm-block">TRY DRAGONFLY NOW!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <footer id="footer" class="bg-color-dark-scale-5 border border-end-0 border-start-0 border-bottom-0 border-color-light-3 mt-0">
            <div class="container text-center my-3 py-5">
                <a href="https://nicholas-payne-devportfolio.netlify.app/" target="_blank">
                    <img src="~/img/Corvid-Purple-White.PNG" data-plugin-lazyload data-plugin-options="{'threshold': 500}" data-original="~/img/Corvid-Purple-White.PNG" width="80" height="80" class="mb-4 appear-animation" alt="Porto" data-appear-animation="fadeIn" data-appear-animation-delay="300">
                </a>
                <p class="font-weight-500 text-4 ls-0 mb-4">Porto customized by Nicholas Payne from themeforest.net by <a href="https://themeforest.net/user/okler/" class="text-color-light" target="_blank">Okler.</a></p>
            </div>
            <div class="copyright bg-color-dark-scale-4 py-4">
                <div class="container text-center py-2">
                    <span class="text-muted text-light"> &copy; 2022 </span><span class="text-muted text-light">Nicholas Payne</span>
                </div>
            </div>
        </footer>
    </div>

    <!-- Vendor -->
    <script src="~/Template/vendor/jquery/jquery.js"></script>
    <script src="~/Template/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
    <script src="~/Template/vendor/popper/umd/popper.min.js"></script>
    <script src="~/Template/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Template/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/Template/vendor/common/common.js"></script>
    <script src="~/Template/vendor/nanoscroller/nanoscroller.js"></script>
    <script src="~/Template/vendor/magnific-popup/jquery.magnific-popup.js"></script>
    <script src="~/Template/vendor/jquery-placeholder/jquery.placeholder.js"></script>

    <!-- Specific Page Vendor -->
    <script src="~/Template/vendor/jquery-appear/jquery.appear.js"></script>
    <script src="~/Template/vendor/owl.carousel/owl.carousel.js"></script>
    <script src="~/Template/vendor/jquery.lazyload/jquery.lazyload.js"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="~/Template/js/theme.js"></script>

    <!-- Theme Custom -->
    <script src="~/Template/js/custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="~/Template/js/theme.init.js"></script>

</body>
</html>
